.grid {
    margin-top: 50px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.item {
    flex: 1;

    margin: 10px;

    min-width: 200px;
}

.name {
    margin-bottom: 5px;
}

.bd {
    display: flex;
    flex-direction: column;
}

.selected {
    composes: item;

    background: red;
}

.icon {
    flex: 1;
}

.icon img {
    width: 100%;
    height: auto;
}
